@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/* 
  font-family: 'Fraunces', serif;
  font-family: 'Montserrat', sans-serif;
*/

:root {
  --dark-cyan-color: hsl(158, 36%, 37%);
  --dark-cyan-active-color: hsl(158, 36%, 28%);
  --cream-color: hsl(30, 38%, 92%);
  --dark-blue-color: hsl(212, 21%, 14%);
  --dark-grayish-color: hsl(228, 12%, 48%);
  --font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: var(--cream-color);
  font-size: var(--font-size);
  font-family: 'Montserrat', sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  width: 100%;
  max-width: 600px;
  display: flex;
  background: white;
  border-radius: 15px;
}

.card__img {
  width: 50%;
  background: url(/images/image-product-desktop.jpg) no-repeat;
  background-size: contain;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.card__container {
  width: 50%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__header {
  color: var(--dark-grayish-color);
  letter-spacing: .5em;
}

.card__title {
  margin: 10px 0;
  color: var(--dark-blue-color);
  font-size: 2em;
  font-family: 'Fraunces', serif;
}

.card__text {
  font-size: 1em;
  line-height: 1.5em;
  color: var(--dark-grayish-color);
}

.card__price {
  margin: 0;
  display: flex;
  align-items: center;
}

.card__price-text {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  color: var(--dark-cyan-color);
  font-size: 2em;
  letter-spacing: 0.07em;
}

.card__price-old {
  margin-left: 15px;
  margin-bottom: 10px;
  text-decoration: line-through;
  font-size: 1em;
  color: var(--dark-grayish-color);
}

.card__button {
  height: 50px;
  background: var(--dark-cyan-color);
  text-align: center;
  color: white;
  font-size: var(--font-size);
  font-weight: 700;
  border: none;
  border-radius: 10px;
  transition: background .6s;
  cursor: pointer;
}

.card__button img {
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.card__button:hover {
  background: var(--dark-cyan-active-color);
}

@media screen and (max-width: 700px) {
  .card {
    flex-direction: column;
    width: auto;
    height: 100%;
    margin: 30px;
  }

  .card__container {
    width: 100%;
  }

  .card__img {
    width: 100%;
    height: 100%;
    background: url(/images/image-product-mobile.jpg) no-repeat;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .card__text {
    width: 100%;
  }
}